/discordsuite/
/downloads/
/journeymap/
/local/
/logs/
/mods/
/patchouli_books/
/profileImage/
/resourcepacks/
/saves/
/shaderpacks/
/snapshots-server/
.curseclient
.ReAuth.cfg
BotaniaVars.dat
crafttweaker.log
minecraftinstance.json
patchouli_data.json
options.txt
servers.dat
usercache.json
usernamecache.json